@import './scss/_materialize.scss';
@import './scss/_swiper.min.scss';
@import './scss/_fonts.scss';
body {
    min-height:100vh;
}
@import './scss/_navbar.scss';
.logoSvgColor {
    background-color: white;
    border: 1px solid white;
}
.section-main {
    padding-top: 342px;
    .img-main {
        width: 80%;
        position: relative;
        margin: 130px auto 0 auto;
    }
    h1 {
        width: 1002px;
        font-size: 60px;
        letter-spacing: -4px;
        line-height: 70px;
        position: relative;
        margin: 0 auto;
        color: #000;
        font-weight: 400;
        transition: color 0.45s ease;
        text-align: left;
        white-space: nowrap;
    }
    p {
        width: 1002px;
        font-size: 24px;
        position: relative;
        margin: 0 auto;
        color: #000;
        font-weight: 400;
        transition: color 0.45s ease;
        text-align: left;
        white-space: pre-line;
    }
}
.section-main-about {
    h1 span{
        font-weight: bolder;
    }
}
h1 span {
    position: relative;
    display: block;
    margin: 0 auto;
    will-change: transform, opacity;
    z-index: 1;
}
h1 span:nth-child(1) {
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 283ms, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 283ms;
}
.section {
    width: 1002px;
    margin-top: 78px;
    margin: 0 auto;
    margin-top: 218px;
}
.section-work-to-clients {
    margin-top: 144px;
    .collapsible {
        background: none;
        box-shadow: none;
        border: none;
        padding: 0;
        margin-top: 0;
        li, .collapsible-header, .collapsible-body {
            border: none;
            i {
                transition: 0.3s;
                margin: 1.0933333333rem 0 0.656rem 0;
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
        .collapsible-header {
            padding: 0;
        }
    }
    svg {
        width: 100%;
    }
}
.section-projects {
    .image-project {
        padding: 20px;
        transition: 0.3s;
        &:hover{
            padding: 5px;
        }
    }
    .mk-project {
        margin-top: 75px;
    }
    .project-h {
        font-weight: bold;
        width: 36px;
        width: 100%;
        display: block;
        padding-left: 20px;
        margin-top: 5px;
    }
}

.section-company-text {
    .quantity {
        font-weight: bold;
        font-size: 64px;
    }
    .quantity-description {
        font-size: 16px;
    }
    .custom-link {
        text-transform: none;
        color: black;
        text-decoration: underline;
        font-size: 1.64rem;
        line-height: 110%;
        margin: 4rem 0 0.656rem 0;
        display: block;
    }
}
.section-command-photo {
    width: 100%;
    .swiper-container {
        .photo-container {
            max-height: 500px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
            img.responsive-img {
                max-height: 450px;
            }
        }
    }
}

.section-list-news {
    &>.row .col .row {
        margin-bottom: 120px;
    }
    .new-date {
        font-size: 18px;
        font-size: bold;
        color: #BD241F;
        margin-top: 0.5rem;
    }
    .new-description {
        a {
            text-transform: none;
            border-bottom: 1px solid;
            padding-bottom: 4px;
            font-size: 24px;
            color: #000;
        }
    }
}

/* Эффект 12: круг на фоне */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.section-list-news .new-description, .section-footer {
    a {
        color: #343139;
        text-decoration: none;
            border-bottom: .125em solid rgba(247, 20, 12, 0.5);
            box-shadow: inset 0 -0.005em 0 rgba(247, 20, 12, 0.5);
            transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    a:hover {
        box-shadow: inset 0 -1.250em 0 rgba(247, 20, 12, 0.5);
        color: #000;
    }
    
    a:focus {
        background: #fff;
        outline: none;
        background: #ff6407;
        color: #fff;
        box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
    }
} 
.background-section-questions {
    background-color: darken($color: #000000, $amount: 0);
    .section-questions {
        color: white;
        margin-top: 100px;
        .collapsible {
            background: none;
            box-shadow: none;
            border: none;
            padding: 0;
            margin-top: 0;
            margin-bottom: 50px;
            li, .collapsible-header, .collapsible-body {
                background: none;
                border: none;
                i {
                    transition: 0.3s;
                    margin: 1.0933333333rem 0 0.656rem 0;
                }
                .rotate {
                    transform: rotate(180deg);
                }
            }
            li.active {
                .collapsible-header, .collapsible-body {
                    color: silver;
                }
            }
            .collapsible-header {
                padding: 0;
                margin-top: 2rem;
            }
        }
    }
}
.background-section-capabilities {
    background-image: linear-gradient(49deg, #ebf2f5, #e6f2fa);
    .section-capabilities {
        margin-top: 100px;
        .collection {
            background: none;
            border: 0;
            li {
                background: none;
                border: 0;
                padding: 10px 5px;
                font-weight: bold;
            }
        }

    }
}
.section-full-information {
    color: white;
    margin-top: 0;
    padding-bottom: 114px;
    font-size: 20px;
    white-space: pre-line;
    padding: 1rem;
}
.command-photo-about {
    min-height: 100vh; 
    margin-top: 0;
    display: flex;
    align-items: center;
}
footer.page-footer {
    background-color: #212129;
    .section-footer {
        margin-top: 10px;
        .lets-text {
            font-weight: bolder;
        }
        .lets-mail-link {
            text-transform: none;
            color: white;
            font-size: 18px;
        }
        .logo-footer-container {
            display: flex;
            justify-content: center;
            #logoSvgfooter {
                margin: 3.3733333333rem 0 1.424rem 0;
            }
        }
        .footer-firstcontainer {
            margin-bottom: 150px;
        }
        .links-footer-container {
            font-size: 16px;
        }
    }
}
@keyframes show-previe-img {
    0% {
        transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes show-previe-text {
    0% {
        transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.hidden-text {
    display: none;
}
.preview-product {
    width: 100%;
    z-index: 200;
    height: 100vh;
    position: fixed;
    background-color: #000;
    display: none;
    justify-content: center;
    align-items: center;
    
    .img-preview {
        width: 50%;
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: show-previe-img;
        animation-duration: 1s;
        opacity: 1;
        padding: 20px;
        img {
            max-width: 100%;
            
            max-height: calc(100vh - 40px);
            margin: 20px;
        }
        
    }
    .text-preview {
        width: 40%;
        display: flex;
        white-space: pre-line;
        color: white;
        font-size: 20px;
        animation-name: show-previe-text;
        animation-duration: 1s;
    }
    &.visible-preview {
        display: flex;
    }
}
a.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 1;
}
a.close:hover {
opacity: 0.6;
}
a.close:before, a.close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: white;
}
a.close:before {
transform: rotate(45deg);
}
a.close:after {
transform: rotate(-45deg);
}
.no-scroll {
    overflow: hidden;
}
@-webkit-keyframes parlor-button-animation {
5% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
13% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
}
16% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
}
20% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@keyframes parlor-button-animation {
5% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
13% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
}
16% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
}
20% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}
@-webkit-keyframes parlor-button-wave-animation {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
2% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
}
12% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
14% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
16% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
18% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
22% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
}
@keyframes parlor-button-wave-animation {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
2% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
}
12% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
14% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
16% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
18% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
22% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
}
.section-main-about {
    svg {
        fill: black;
    }
    svg #parlor-hand-wave {
    -webkit-animation: parlor-button-wave-animation 5s infinite;
            animation: parlor-button-wave-animation 5s infinite;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    }
    svg.parlor-hand-wave {
    -webkit-animation: parlor-button-wave-scale-animation 5s infinite;
            animation: parlor-button-wave-scale-animation 5s infinite;
    }
}
@media only screen and (max-width:1024px) {
    .section, .section-main h1, nav, body, .section-main p {
        width: 100%;
    }
    nav {
        top: 40px;
        margin-left: 0;
        position: fixed;
        left: 0;
        .brand-logo {
            left: 20px;
            -webkit-transform: none;
            transform: none;
        }
        .btn-nav-container {
            right: 20px;
            top: 3px;
            transform-origin: none;
        }
    }
    .section-main{
        padding-top: 214px;
        h1 {
            font-size: 1.8rem;
            white-space:pre-line;
            line-height: normal;
            letter-spacing: normal;
            padding: 0 0.75rem;
            span {
                display: inline;
            }
        } 
        p {
            padding: 0 0.75rem;
        }
    }
    .section-full-information {
        margin-top: 0;
    }
    .command-photo-about {
        min-height: auto;
        padding-top: 212px;
    }
}

@keyframes showblocks {
    from {
        opacity: 0.5;
        transform: translate(0, 30px);
        animation-timing-function: ease-out;
    }
    66% {
        opacity: 1;
        transform: translate(0, 3px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes showblockstwo {
    0% {
        opacity: 0;
        transform: translate(0, 30px);
    }
    10% {
        opacity: 0;
        transform: translate(0, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes showblockslast {
    0% {
        opacity: 0;
        transform: translate(0, 30px);
    }
    20% {
        opacity: 0;
        transform: translate(0, 30px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.is-animate, .quantity-numberuser, .quantity-numberyear {
    opacity: 0;
    &.is-animate-active {
        animation-name: showblocks;
        animation-duration: 0.5s;
        opacity: 1;
    }
}
.is-animate-two {
    opacity: 0;
    &.is-animate-active {
        animation-name: showblockstwo;
        animation-duration: 0.7s;
        opacity: 1;
    }
}
.is-animate-last {
    opacity: 0;
    &.is-animate-active {
        animation-name: showblockslast;
        animation-duration: 0.8s;
        opacity: 1;
    }
}
@media only screen and (max-width:599px), only screen and (orientation: landscape) and (max-width: 959px) {
    body {
        max-width: 100%;
        section {
            overflow-x: hidden;
        }
        
    }
    .section, .section-main h1, nav, body, .section-main p {
        width: 100%;
    }
    .section-main{
        padding-top: 214px;
        h1 {
            font-size: 1.8rem;
            white-space:pre-line;
            line-height: normal;
            letter-spacing: normal;
            padding: 0 0.75rem;
            span {
                display: inline;
            }
        } 
        p {
            padding: 0 0.75rem;
        }
        svg {
            fill: black;
            width: 32px;
            height: 32px;
        }
        .img-main {
            width: 180%;
            position: relative;
            margin: 130px auto 0 -40%;
        }
    }
    .section {
        margin-top: 78px;
        margin: 0 auto;
        margin-top: 118px;
    }
    .section-projects {
        .row > .col {
            padding: 0;
        }
        .mk-project {
            margin-top: 0;
        }
        .image-project {
            padding: 0;
        }
    }
    .section-command-photo {
        margin-top: 15px;
        .swiper-container .photo-container {
            max-height: 300px;
            height: 100%;
            padding: 0;
            img.responsive-img {
                max-width: 90%;
                margin-left: 0%;
            }
        }
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 0;
        }
    }
    
    .section-list-news {
        margin-top: 10px;
    }
    nav {
        top: 40px;
        margin-left: 0;
        position: fixed;
        left: 0;
        .brand-logo {
            left: 20px;
            -webkit-transform: none;
            transform: none;
        }
        .btn-nav-container {
            right: 20px;
            top: 3px;
            transform-origin: none;
        }
    }
    footer.page-footer .section-footer .footer-firstcontainer {
        margin-bottom: 54px;
    }
    .preview-product {
        flex-wrap: wrap;
        min-height: 100vh;
        height: auto;
        overflow-y: scroll;
        height: 100%;
        .img-preview {
            display: none;
        }
        .text-preview {
            width: 100%;
            display: flex;
            white-space: pre-line;
            color: white;
            font-size: 18px;
            animation-name: show-previe-text;
            animation-duration: 1s;
            padding: 10px;
        }
    }
    a.close {
        top: 8px;
        right: 8px;
    }
}
@media only screen and (max-width:1024px), only screen and (orientation: landscape) and (max-width: 1366px){

}