@import 'scss/_materialize.scss';
@import './scss/_swiper.min.scss';
@import './scss/_fonts.scss';
body {
    min-height:100vh;
}
@import './scss/_navbar.scss';
.logoSvgColor {
    background-color: white;
    border: 1px solid white;
}
.section-main {
    padding-top: 342px;
}
.section-main h1 {
    width: 1002px;
    font-size: 60px;
    letter-spacing: -4px;
    line-height: 70px;
    position: relative;
    margin: 0 auto;
    color: #000;
    font-weight: 400;
    transition: color 0.45s ease;
    text-align: left;
    white-space: nowrap;
}
h1 span {
    position: relative;
    display: block;
    margin: 0 auto;
    will-change: transform, opacity;
    z-index: 1;
}
h1 span:nth-child(1) {
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 283ms, transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 283ms;
}
.section {
    width: 1002px;
    margin-top: 78px;
    margin: 0 auto;
    margin-top: 218px;
}
.section-work-to-clients {
    .collapsible {
        background: none;
        box-shadow: none;
        border: none;
        padding: 0;
        margin-top: 0;
        li, .collapsible-header, .collapsible-body {
            border: none;
            i {
                transition: 0.3s;
                margin: 1.0933333333rem 0 0.656rem 0;
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
        .collapsible-header {
            padding: 0;
        }
    }
}
.section-projects {
    .image-project {
        padding: 20px;
        transition: 0.3s;
        &:hover{
            padding: 5px;
        }
    }
    .mk-project {
        margin-top: 75px;
    }
    .project-h {
        font-weight: bold;
        width: 36px;
        width: 100%;
        display: block;
        padding-left: 20px;
        margin-top: 5px;
    }
}

.section-company-text {
    .quantity {
        font-weight: bold;
        font-size: 64px;
    }
    .quantity-description {
        font-size: 16px;
    }
    .custom-link {
        text-transform: none;
        color: black;
        text-decoration: underline;
        font-size: 1.64rem;
        line-height: 110%;
        margin: 4rem 0 0.656rem 0;
        display: block;
    }
}
.section-command-photo {
    width: 100%;
    .swiper-container {
        .photo-container {
            max-height: 500px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
            img.responsive-img {
                max-height: 450px;
            }
        }
    }
}

.section-list-news {
    &>.row .col .row {
        margin-bottom: 120px;
    }
    .new-date {
        font-size: 18px;
        font-size: bold;
        color: #BD241F;
        margin-top: 0.5rem;
    }
    .new-description {
        a {
            text-transform: none;
            border-bottom: 1px solid;
            padding-bottom: 4px;
            font-size: 24px;
            color: #000;
        }
    }
}

/* Эффект 12: круг на фоне */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

.section-list-news .new-description, .section-footer {
    a {
        color: #343139;
        text-decoration: none;
            border-bottom: .125em solid rgba(247, 20, 12, 0.5);
            box-shadow: inset 0 -0.005em 0 rgba(247, 20, 12, 0.5);
            transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    a:hover {
        box-shadow: inset 0 -0.475em 0 rgba(247, 20, 12, 0.5);
        color: #000;
    }
    
    a:focus {
        background: #fff;
        outline: none;
        background: #ff6407;
        color: #fff;
        box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
    }
} 
.background-section-questions {
    background-color: darken($color: #000000, $amount: 0);
    .section-questions {
        color: white;
        margin-top: 100px;
        .collapsible {
            background: none;
            box-shadow: none;
            border: none;
            padding: 0;
            margin-top: 0;
            margin-bottom: 50px;
            li, .collapsible-header, .collapsible-body {
                background: none;
                border: none;
                i {
                    transition: 0.3s;
                    margin: 1.0933333333rem 0 0.656rem 0;
                }
                .rotate {
                    transform: rotate(180deg);
                }
            }
            li.active {
                .collapsible-header, .collapsible-body {
                    color: silver;
                }
            }
            .collapsible-header {
                padding: 0;
                margin-top: 2rem;
            }
        }
    }
}
footer.page-footer {
    background-color: #212129;
    .section-footer {
        margin-top: 10px;
        .lets-text {
            font-weight: bolder;
        }
        .lets-mail-link {
            text-transform: none;
            color: white;
            font-size: 18px;
        }
        .logo-footer-container {
            display: flex;
            justify-content: center;
            #logoSvgfooter {
                margin: 3.3733333333rem 0 1.424rem 0;
            }
        }
        .footer-firstcontainer {
            margin-bottom: 150px;
        }
        .links-footer-container {
            font-size: 16px;
        }
    }
}