.brand-logo {
    height: 60px;
    top: -12px;
    left: -90px;
    width: 75px;
    height: 61px;
    position: absolute;
    transition: 500ms opacity cubic-bezier(0.165, 0.84, 0.44, 1), 200ms transform cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    transform-origin: 100% 50%;
    will-change: transform;
} 
#logoSvg {
    border-radius: 30px;
    .circle-left, .circle-right {
        transition: 1s;
    }
}
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    background: none;
    box-shadow: none;
    height: 60px;
}
nav {
    top: 60px;
    width: 1002px;
    margin-left: -501px;
    position: fixed;
    left: 50%;
    height: 0;
    z-index: 100;
}
header {position:relative;}
a {text-decoration:none;text-transform:uppercase;}
ul {list-style:none;}
.btn-nav-container {position:absolute;top:0;right:30px;width:50px;height:20px;cursor:pointer;z-index:999;background:transparent;border:none;outline:none;right: -48px;
    top: -3px;
    transform-origin: 10px 50%;}
.btn-nav {width:100%;height:3px;position:relative;background:black;top:0;transition:all ease 0.2s;}
.btn-nav:before, .btn-nav:after {content:'';position:absolute;left:0;background:black;height:100%;transition:all ease 0.3s;}
.btn-nav-white {background-color: white;}
.btn-nav-white:before, .btn-nav-white:after {content:'';position:absolute;left:0;background:white;height:100%;transition:all ease 0.3s;}
.btn-nav:before {top:-8px;width:50%;}
.btn-nav:after {top:8px;width:75%;}
.btn-nav-container:hover .btn-nav:before, .btn-nav-container:hover .btn-nav:after {width:100%;}
.btn-nav-container.close-menu .btn-nav {transform:rotate(-45deg);}
.btn-nav-container.close-menu .btn-nav:after {opacity:0;transition:all ease 0.2s;}
.btn-nav-container.close-menu .btn-nav:before {top:0;transform:rotate(90deg);width:100%;transition:all ease 0.2s;background:white;}
.float-nav {position:fixed;top:0;display:none;width:100%;height:100%;z-index:99;}
.float-nav .bg1, .float-nav .bg2 {position:absolute;width:100%;height:100vh;background:rgba(21, 20, 26, 0.6);top:0;left:100%;transition:all 0.7s ease 0.3s;}
.float-nav .bg2 {background:rgba(21, 20, 26, 1);transition-delay:0s;}
.float-nav .container {position:absolute;top:0;left:0;width:100%;height:100%;display:flex;align-items:center;justify-content:center;max-width:none;}
.float-nav ul {display:flex;flex-direction:column;max-height:100vh;opacity:0;transition:all 0.3s ease 0s;padding:0;}
.float-nav ul li {flex:1;margin-bottom:20px;text-align:center;}
.float-nav ul li:last-child {margin-bottom:0;}
.float-nav ul li a {font-size:16px;color:#fff;letter-spacing:0.4em;}
.float-nav.active .bg1, .float-nav.active .bg2  {left:0;}
.float-nav.active .bg1 {transition-delay:0s;}
.float-nav.active .bg2 {transition-delay:0.3s;}
.float-nav.active ul {opacity:1;transition-delay:1s;}
.btn-nav-container:active, .btn-nav-container:focus{
    background: none;
}